:root {
    --hero-title: #FFFFFF;
    --back-hero-footer: #2F303A;
    --logo-btn: #2196F3;
    --text-second: #757575;
    --teams-buttons: #F5F4FA;
    --title-item: #212121;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.index-header, .portfolio-header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.abilities, .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.things {
    padding-top: 94px;
    padding-bottom: 94px;
}

.teams {
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero, footer {
    background-color: var(--back-hero-footer)
}

.footer-logo, .header-logo, .header-info {
    color: var(--logo-btn);
}

.hero-btn {
    background-color:var(--logo-btn) ;
}

.header-number, .abilities-text, .teams-text, .footer-info, .footer-number, .brief-desc {
    color: var(--text-second);
}

.teams, .buttons_btn {
    background-color: var(--teams-buttons) ;
}

.hero-title {
    color: var(--hero-title) ;
}

.pages-list-item, .abilities-title, .things-title, .persons-list-item, .buttons_btn, .brief-title {
    color:var(--title-item) ;
}
.index-body {
    font-family: Roboto
}
.portfolio-body {
    font-family: Roboto;
}

.index-header, .portfolio-header {
    line-height: 100%;
}

.hero-title {
    line-height: 1.36;
}

.hero-btn {
    line-height: 1.875;
}

.abilities-title {
    line-height: 100%;
}

.abilities-text {
    line-height: 1.71;
}

.things-title {
    line-height: 100%;
}

.teams-text {
    line-height: 100%;
}

.footer-logo {
    line-height: 100%;
}

.footer-item {
    line-height: 1.71;
}

.buttons_btn {
    line-height: 1.62;
}

.brief-title {
    line-height: 2;
}

.brief-desc {
    line-height: 1.87;
}